<div>

    <div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                    <h3>Fazzt</h3>
                <hr />
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row view-container">
            <div class="col-md-1"></div>
            <div class="col-md-2 ">
                    <!--lists property names-->
                <a>Overview</a>
                <a>Applications</a>
                <a>FAQ</a>
                <a>Equipment</a>
                <a>Flowchart</a>
                <a>Options</a>
            </div>
            <div class="col-md-8 overview-text">
                <p>{{service.overview}}</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

</div>

