<div class="servicesBody">
    <h2>Mobile Platform Applications</h2>
    <div layout="row" layout-wrap>
        <!--layout-wrap lets children wrap within container if elements equal more than 100%-->
        <div ng-repeat="cardImage in cardCtrl.cardImages | filter: {service: 'mobileplatform'}" class="md-card-images small repeated-item"><!--cardCtrl.-->
            <md-card ng-class="{active: cardCtrl.isSelected(cardImage)}" md-ink-ripple="#FFF">
                <a class="record" ui-sref="mobile-platform.applications.card" ng-click="cardCtrl.selectCard(cardImage)" ng-animate-ref=cardImage><!--cardCtrl.-->
                    <img ng-src="{{cardImage.image}}" class="md-card-img img-responsive" alt="{{cardImage.title}}" />
                </a>
                <md-card-title class="cardPanel">
                    <md-card-title-text>
                        <span class="md-headline">{{cardImage.title}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div>