
<div class="servicesBody">
    <h2>Fazzt Equipment</h2>
    <div layout="row" layout-sm="column" ><!--layout-xs-wrap-->
        <!--layout-wrap lets children wrap within container if elements equal more than 100%-->
        <div ng-repeat="equipmentCard in equipmentCtrl.equipmentCards | filter: {service: 'fazzt'}" class="md-card-equipment">
            <!--flex-md="20"-->
            <md-card ng-class="{active: equipmentCtrl.isSelected(equipmentCard)}">
                <div>
                    <img src="https://placehold.it/500x300" />
                </div>
                <md-card-content class="setEquipmentCardHeight">
                    <!--class="setCardHeight"-->
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{equipmentCard.title}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <div>
                        <div ng-bind-html="equipmentCard.text"></div>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button>
                        <a ng-href="#/">More</a>
                    </md-button>
                    <md-card-icon-actions>
            </md-card>
        </div>
    </div>
</div>





    <md-button ng-click="vm.toggleLeft()"
               hide-gt-md>
        <!--class="md-primary"-->
        Fazzt Menu
    </md-button>