<md-toolbar class="md-hue-2">
    <div class= "row md-toolbar-tools">
        <div class="col-md-1"></div>
        <h1 class="col-md-10">
            Services: Fazzt
        </h1>
        <div class="col-md-1"></div>
        <!--<span flex></span>-->
    </div>
</md-toolbar>

<div class="row">
    <div class="col-md-1"></div>
    <div class= "col-md-10">
        <p>This is the layout for the Fazzt section</p>
        <br>
        <a ui-sref="fazzt.overview">Overview</a>
        <a ui-sref="fazzt.applications">Applications</a>
        <div ui-view></div>
    </div>
    <div class="col-md-1"></div>
</div>


