<div layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar md-scroll-shrink>
            <h3 class="toolbar-text">Services: Fazzt</h3>
        </md-toolbar>
        <md-content role="navigation">
            <ul class="side-menu">
                <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
                    ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <h2 class="menu-heading" ng-if="section.type === 'heading'"
                        id="heading_{{ section.name | nospace }}">
                        {{section}}
                    </h2>
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>
            </ul>
        </md-content>
    </md-sidenav>

    <md-content flex>
        <ui-view name="content"></ui-view>
    </md-content>

</div>

    <!--<div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><a href="/#/services">Services </a>: Fazzt Software</h3>
            </div>

            <div class="col-md-1"></div>
        </div>
        <hr />

        <div layout="column" ng-controller="FazztSoftwareController as fazztSoftwareCtrl">
            <div class="col-md-1"></div>
            <md-sidenav md-component-id="left" class="md-sidenav-left">
                Left Nav!
            </md-sidenav>
            <md-content>-->
    <!--Scrollable content, the juicy stuff!-->
    <!--<md-button ng-click="openLeftMenu()">
                Open Services Menu
            </md-button>
            Fazzt Software is cool. :0)
        </md-content>
    </div>-->
    <!--<div class="row view-container" ng-controller="FazztSoftwareController as fazztSoftwareCtrl">
        <div class="col-md-1"></div>
        <div class="col-md-2 ">
            lists property names
            <ul>
                <li>
                    <a ng-click="fazztSoftwareCtrl.currentTab = 'overview'">Overview</a>
                </li>
                <li>
                    <a ng-click="fazztSoftwareCtrl.currentTab = 'applications'">Applications</a>
                </li>
                <li>
                    <a ng-click="fazztSoftwareCtrl.currentTab = 'faq'">FAQ</a>
                </li>
                <li>
                    <a ng-click="fazztSoftwareCtrl.currentTab = 'equipment'">Equipment</a>
                </li>
                <li>
                    <a ng-click="fazztSoftwareCtrl.currentTab = 'flowchart'">Flowchart</a>
                </li>
                <li>
                    <a ng-click="fazztSoftwareCtrl.currentTab = 'options'">Options</a>
                </li>
            </ul>
        </div>

            <div class="col-md-8" >
                <div ng-repeat="fazztview in fazztViews">
                    <div ng-show="currentTab === fazztview.id">
                        <div ng-include="fazztview.view"></div>
                    </div>
                </div>
            </div>

        <div class="col-md-1"></div>
    </div>-->
    <!--</div>-->



