<div class="servicesBody">
    <h2>Fazzt Overview</h2>

    <video-directive></video-directive>

    <p>The KenCast Fazzt® Digital Delivery Software enables efficient, reliable, and secure multicast and unicast distribution of large files and live streams over terrestrial and satellite networks. </p>
    <p>Fazzt is customizable and allows for:</p>
    <ul>
        <li>Advanced error-correction</li>
        <li>Compression</li>
        <li>Validation</li>
    </ul>
    <br>
    <p>Fazzt enables publishers of multimedia content to securely and economically transmit to multiple endpoints any type of digital file or stream. The content can be forwarded through multiple and diverse networks, while maintaining data integrity throughout.</p>

    <p>KenCast’s content delivery products are unparalleled in their reliability and efficiency. That’s why clients like Associated Press, Bank of America, Viacom, several TV news networks and government agencies use our Fazzt products.</p>

    <md-button ng-click="vm.toggleLeft()"
               hide-gt-md>
        <!--class="md-primary"-->
        Fazzt Menu
    </md-button>
</div>