<div class="servicesBody">
    <h2>Digital Cinema Overview</h2>
    <md-card>
        <img class="md-card-image" src="/images/services/digitalCinema/DigitalCinemaWorld.jpg" />
        <md-card-content>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Worldwide Distribution</span>
                </md-card-title-text>
            </md-card-title>
            <p>KenCast offers digital cinema distribution services in EMEA and APAC to 35,000 screens</p>
            <p>Working with movie theater chains and Hollywood’s leading studios such as Sony Pictures, Warner Bros Pictures and NBC Universal, KenCast provides leading edge technology for transmitting cinema-size files and live event performances terrestrially and via satellite.</p>
            <p>KenCast's offers:</p>
            <ul>
                <li>Flawless delivery of DCPs(Digital Cinema Packages) over satellite and terrestrial networks</li>
                <li>Ease of use</li>
                <li>Customized service and support</li>
                <li>Digital cinema TMS and library options</li>
                <li>Financing options</li>
            </ul>
         </md-card-content>
    </md-card>

    <md-button ng-click="vm.toggleLeft()"
               hide-gt-md>
        <!--class="md-primary"-->
        Digital Cinema Menu
    </md-button>
</div>