

    <div>
        <md-toolbar>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 layout-padding>Services</h3>
            </div>
        </md-toolbar>
    </div>
<section layout="row" ng-controller="MainServicesController as MainServicesCtrl">

    <div class="col-md-1"></div>
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" layout-padding>
        <!--Locked open when screen is 1280px-->
        This is the services Navbar
        <h3>Fazzt Software</h3>
        <md-divider></md-divider>
        <h3>Cinema Specific</h3>
        </md-divider></md-divider>
        <h3>Mobile Platform</h3>


    </md-sidenav>
    <md-content layout-padding ng-controller="MainServicesController as MainServicesCtrl">
        <!--Scrollable content, the juicy stuff!-->
        <md-button ng-click="toggleMenu()" hide-gt-md>
            Services Menu
        </md-button>
        Fazzt Software is cool. :0)
    </md-content>

</section>


