<div ng-controller="ServiceProfileController as profileCtrl">
    <!--<div class="profile record" ng-animate-ref="{{ profileCtrl.players.submenus }}">-->
        
        <div class="profile record" ng-repeat="product in products" >
            <div class="record"
               ng-repeat="(key, val) in product.submenus"
                 ng-animate-ref="{{ key }}">
               <!--ng-href="#/products/{{ product.id }}/{{key}}"-->
                <h2>{{key}}</h2>
                <p>{{ val }}</p>
                <!--lists property names-->
            </div>
        </div>
        
        
        
        <ul>
        <li>{{ profileCtrl.players.submenus }}</li>
        </ul>
    <!--</div>-->
</div>


