<ul ng-controller="SingleServicesController as singleServicesCtrl">
    
    <li class="itemHolder" ng-repeat="item in serviceData">
        <a href="#/services/{{serviceData.indexOf(item)}}">
            <img ng-src="img/{{item.image}}.jpg">
            <div>
                <h3> {{item.title }}</h3>
                <p class="rightDate">Price Revised on: {{item.dateAdded | date:'MM/yy'}}</p>
                <p class="rightPrice">${{item.price | number:0 }}</p>
                <p> {{item.description}}</p>
            </div>
        </a>
    </li>


</ul>





<!--<div class="row" ng-controller="SingleServicesController as singleServicesCtrl">
    <div ng-repeat="singleService in singleServicesCtrl.singleServices">
        <a ng-href="#/services/{{singleService.id}}">
            <div>{{singleService.title}}</div>
        </a>
    </div>
</div>-->

<!--<hr />
<div class="view-container">
    <div ng-view class="view"></div>
</div>-->