<div ng-controller="FazztSoftwareController as fazztSoftwareCtrl">
    <md-toolbar>
        <h3 class="toolbar-text">Services</h3>
    </md-toolbar>

    <!--<div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><a href="/#/services">Services </a>: Fazzt Software</h3> 
            </div>

            <div class="col-md-1"></div>
        </div>
        <hr />

        <div layout="column" ng-controller="FazztSoftwareController as fazztSoftwareCtrl">
            <div class="col-md-1"></div>
            <md-sidenav md-component-id="left" class="md-sidenav-left">
                Left Nav!
            </md-sidenav>
            <md-content>--> <!--Scrollable content, the juicy stuff!-->
                <!--<md-button ng-click="openLeftMenu()">
                    Open Services Menu
                </md-button>
                Fazzt Software is cool. :0)
            </md-content>
        </div>-->
        <!--<div class="row view-container" ng-controller="FazztSoftwareController as fazztSoftwareCtrl">
            <div class="col-md-1"></div>
            <div class="col-md-2 ">
                lists property names
                <ul>
                    <li>
                        <a ng-click="fazztSoftwareCtrl.currentTab = 'overview'">Overview</a>
                    </li>
                    <li>
                        <a ng-click="fazztSoftwareCtrl.currentTab = 'applications'">Applications</a>
                    </li>
                    <li>
                        <a ng-click="fazztSoftwareCtrl.currentTab = 'faq'">FAQ</a>
                    </li>
                    <li>
                        <a ng-click="fazztSoftwareCtrl.currentTab = 'equipment'">Equipment</a>
                    </li>
                    <li>
                        <a ng-click="fazztSoftwareCtrl.currentTab = 'flowchart'">Flowchart</a>
                    </li>
                    <li>
                        <a ng-click="fazztSoftwareCtrl.currentTab = 'options'">Options</a>
                    </li>
                </ul>
            </div>

                <div class="col-md-8" >
                    <div ng-repeat="fazztview in fazztViews">
                        <div ng-show="currentTab === fazztview.id">
                            <div ng-include="fazztview.view"></div>
                        </div>
                    </div>
                </div>
            
            <div class="col-md-1"></div>
        </div>-->
    <!--</div>-->

</div>

