<div class="servicesBody">
    <h2>Mobile Platform Overview</h2>
    <div layout="column">
            <img class="md-card-image" src="/images/services/mobilePlatform/overview/bicycleUsage.jpg" />
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Broadcast Live Video from Virtually Anywhere</span>
                    </md-card-title-text>
                </md-card-title>
                <p>KenCast has partnered with Dutch bonded-cellular technology company, Mobile Viewpoint, to provide unique end-to-end mobile video solutions within the U.S.  With applications in a variety of markets ranging from public safety surveillance to drone site inspection to live event broadcast (and everything in between), KenCast’s cellular network-based, low-latency HD platforms are designed to spec for operation in virtually any environment and use scenario.</p>
    </div>

    <md-button ng-click="vm.toggleLeft()"
               hide-gt-md>
        <!--class="md-primary"-->
        Digital Cinema Menu
    </md-button>
</div>