<!--ui bootstrap carousel-->
    <uib-carousel interval="4000" no-wrap="false">
        <uib-slide ng-repeat="slide in carouselCtrl.slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;" class="img-responsive" height="480px">            
                <div class="carousel-caption carouselCaptionBox navbar-text">
                    <h3>{{slide.text}}</h3>
                    <button class="learnMore">Learn More</button>
                </div>       
        </uib-slide>
    </uib-carousel>