
<!--<footer class= "kencast-footer col-md-12" data-role="footer" data-position="fixed">
    navbar-default navbar-bottom"
</footer>-->
<footer class="kencast-footer">
        <div class="col-md-1"></div>
        <div>
                <form role="form">
                    <div class="form-group">
                        <label for="usr">Newsletter Signup</label>
                        <input type="text" id="usr">
                    </div>
                </form>
        </div>




        <div class="col-md-1"></div>
</footer>