
<div  ng-controller="NewHomepageController as newHomepageCtrl" >
        <div layout="row" flex>
            <h2 class="homepage-pad">New at KenCast</h2>
        </div>
        <div layout-gt-sm="row" layout="column" >
            <div ng-repeat="section in newHomepageCtrl.sections">
                <md-card class="introCards" flex>
                    <img ng-src="{{section.image}}" class="md-card-image" alt="{{section.title}}" />
                    <md-card-content class="setCardHeight">
                        <md-card-title>
                            <md-card-title-text class="md-headline">
                                <span class="md-headline">{{section.title}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <div>
                            {{section.text}}
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button>
                            <a ng-href="#/">More</a>
                        </md-button>
                    <md-card-icon-actions>
                </md-card>
            </div>
        </div>
</div>

