<div ng-controller="LogoController as logoCtrl" ><!--layout="row layout-align="center"-->
    <div layout="column">
        <div class="row" flex>
            <h2 class="homepage-pad">Our Customers</h2>
        </div>

        <div layout-gt-sm="row" layout="column" layout-align="space-between">
            <div ng-repeat="logo in logoCtrl.logos"><!--class="across"--> 
                <a href="logo.link"><img class="img-responsive" ng-src="{{logo.image}}" /></a>
            </div>
            <!--<div class="col-md-3"></div>-->
        </div>
    </div>
</div>