<!--<md-toolbar>
    <h1>KenCast</h1>
</md-toolbar>-->
        <div layout="row" flex>
            <!-- Main sidenav when collapsed -->
            <md-sidenav layout="column" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2">
                <md-list>
                    <md-item ng-repeat="it in navigationCtrl"></md-item>
                    <md-list-item>
                        <md-button>
                            Digital Cinema
                        </md-button>
                    </md-list-item>

                    <md-list-item>
                        <md-button>
                            Fazzt
                        </md-button>
                    </md-list-item>

                    <md-list-item>
                        <md-button>
                            Mobile Platform
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-sidenav>
        </div>












